In [2]:
import pandas as pd
s=pd.Series([1,2,3,4])
print("first series:",s)

first series: 0    1
1    2
2    3
3    4
dtype: int64

In [4]:
s1=pd.Series([1,2,3,4])
s2=pd.Series([6,7,8,9])
a=s1+s2
s=s1-s2
m=s1*s2
d=s1/s2
print('add:',a)
print('sub:',s)
print('mul:',m)
print('div:',d)

add: 0     7
1     9
2    11
3    13
dtype: int64
sub: 0   -5
1   -5
2   -5
3   -5
dtype: int64
mul: 0     6
1    14
2    24
3    36
dtype: int64
div: 0    0.166667
1    0.285714
2    0.375000
3    0.444444
dtype: float64

In [5]:
d={'name':['alice','bob','charlie'],'age':[34,56,78],'city':['new york','las vegas','chicago']}
df=pd.DataFrame(d)
print(df)

      name  age       city
0    alice   34   new york
1      bob   56  las vegas
2  charlie   78    chicago

In [8]:
df1=df.iloc[0]
print("first row:",df1)

name       alice
age           34
city    new york
Name: 0, dtype: object